<%- include ../includes/header.ejs %>
    <style>
        .btn-file {
            position: relative;
            overflow: hidden;
        }
        
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
    </style>
    <div class="content-wrapper" style="margin-left:0px">
        <section class="content-header">
            <h1 data-ng-header>Buses Dashboard</h1>
            <ol class="breadcrumb">
                <li><a href="http://54.255.154.6:3000/buses/add"><i class="fa fa-plus"></i> Add New Bus</a></li>
            </ol>
        </section>
        <script type='text/javascript'>
            //          var rows = </%-JSON.stringify(users)%>;
            //          console.log(rows);
        </script>
<!--
        <form id="formUpload">
            <input id="filecsv" type="file" name="file" class="">
        </form>
-->

        <!-- Main content -->
        <section class="content">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="box-body">


                        <div class="col-md-12">

                        </div>
                        <input class="active-tab" value="buses" type="hidden" />

                    </div>
                    <div class="box-body col-md-12">
                        <table class="table table-bordered table-striped logTable">
                            <thead>

                                <tr>
                                    <th>Bus Number</th>
                                    <th>Model</th>
                                    <th>Assigned Driver</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i=0; i < buses.length; i++) { %>
                                    <tr>
                                        <td>
                                            <%= buses[i].bus_num %>
                                        </td>
                                        <td>
                                            <%= buses[i].model %>
                                        </td>
                                        <td>
                                            <%= buses[i].assigned_driver %>
                                        </td>
                                        <td>
                                            <a id="<%= buses[i]._id %>" data-toggle="modal" data-target="#myModal" class="deleteBusClass" title="Delete"><i class="fa fa-trash"></i></a>&nbsp;&nbsp;
                                            <a href="http://54.255.154.6:3000/buses/edit/<%= buses[i]._id %>" title="Edit"><i class="fa fa-pencil"></i></a>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Delete Alert</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are You Sure ?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" id="deleteAction">Delete</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>            
        </section>
        <!-- /.content -->
    </div>

    <script type="text/javascript">
        $(document).ready(function() {

            var deleteLogin;
            $("body").on("click", ".deleteBusClass", function() {
                deleteLogin = $(this).attr('id');
                console.log(deleteLogin);
            });

            $("#deleteAction").click(function() {
              window.location.replace("http://54.255.154.6:3000/buses/delete/" + deleteLogin);
            });

            $('.logTable').dataTable({
                "aaSorting": [
                    [0, "desc"]
                ]
            });
        });
    </script>

    <%- include ../includes/footer.ejs %>