<%- include ../includes/header.ejs %>
    <div class="box">
        <div class="box-body">

            <form method="POST" id="passwordForm">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-4 col-form-label">New Password*</label>
                            <div class="col-md-6">
                                <input class="form-control" type="password" id="password" name="password">
                                <input type="hidden" value="<%= user.name%>" id="username" name="name">
                                <input type="hidden" value="<%= user.username%>" id="username" name="username">
                                <input type="hidden" value="<%= user.bus_no%>" id="bus_no" name="bus_no">
                                <input type="hidden" value="<%= user.type%>" id="type" name="type">
                                <input type="hidden" value="<%= user.assigned_region %>" id="assigned_region">
                                <div class="alert alert-warning password">
                                    <strong> Password Required</strong>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-md-4 col-form-label">New Password Confirmation*</label>
                            <div class="col-md-6">
                                <input class="form-control" type="password" id="confirmPassword">
                                <div class="alert alert-warning">
                                    <strong> Password Dosen't Match</strong>
                                </div>
                            </div>
                        </div>
                        <div id="row-photo">
                            <div class="col-md-12">
                                <div class="row" style="margin-top:10px;">
                                    <div class="form-group">
                                        <div class="col-md-12 text-center">
                                            <button type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.box-body -->
    </div>
    <script>            
            $('#passwordForm').submit(function () {

                   var password = $("#password").val();
                    if (($('#password').val() == $('#confirmPassword').val()) && (password != '')){
                        alert("Password Updated");
                    }
                    else{
                        
                        if (password == '') {
                            $("#password").addClass("invalid");
                            $(".alert.alert-warning.password").addClass("active");
                        } else{
                            $(".alert.alert-warning").addClass("active");
                        }
                        //e.preventDefault(); 
                        return false;
                    }

            });

    </script>
    <%- include ../includes/footer.ejs %>